<!DOCTYPE html>
<html>

<head>
  <title>Welcome to HyperDev!</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./public/style.css">
  <link rel="stylesheet" href="./public/index.css">

</head>

<body>
  <header>
    <h1>
      FCC ISQA Project #5 - Anon Message Board
    </h1>
    <p>Programmed by: brendan musick</p>
  </header>
  <div id='create-board-container'>
    <div id='create-board-form-container'>
      <h4>Create A New Board</h4>
      <form action="/api/board" method="post" id="newBoard">
        <input type='text' placeholder='New Board Name' id='board1' name='name' required=''><br>
        <input id='submit-board-button' type="submit" value="Submit">
      </form>
    </div>
  </div>
  </body>
</html>
